In [1]:
import pandas as pd

from opencage.geocoder import OpenCageGeocode
from geopy.geocoders import Nominatim

import reverse_geocoder as rg
import pprint

geolocator = Nominatim(user_agent="HUR")

In [2]:
#test the geolocator works
location = geolocator.reverse('25.966660,-80.246790')
print(location.address)

20956, Northwest 27th Avenue, Lake Lucerne, Miami Gardens, Miami-Dade County, Florida, 33056, United States

In [3]:
# read-in csv file Atlantic hurricane data
HUR_data=pd.read_csv('Atlantic_HURDAT-Copy1.csv', sep=',')
HUR_data.head(3)

HUR_df = pd.DataFrame(HUR_data)

In [4]:
#print the data
HUR_df

,index,id,name,date,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,...,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,3,AL011851,UNNAMED,1851-06-25 18:00:00,NaN,HU,28.1,-96.5,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,AL011851,UNNAMED,1851-06-25 21:00:00,L,HU,28.2,-96.8,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:


# convert just columns "a" and "b"
HUR_df[['latitude', 'longitude']] = HUR_df[['latitude', 'longitude']].apply(pd.to_numeric)

HUR_df = HUR_df.infer_objects()

HUR_df.dtypes

HUR_df['lat/long'] = HUR_df['latitude'].astype(str) + "," + HUR_df['longitude'].astype(str)

In [6]:
HUR_df['lat/long'].head(3)

0    28.1,-96.5
1    28.2,-96.8
Name: lat/long, dtype: object

In [7]:
HUR_df['lat/long'].isnull().sum()

0

In [8]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

In [21]:
location = geolocator.reverse(HUR_df['lat/long'][0:1])
print(location.address)

United States

In [23]:
address_list = []
for row in HUR_df['lat/long']:
    
    
    
    #if location = geolocator.reverse(HUR_df['lat/long']).apply(geolocator.reverse,timeout=1000000)

28.1,-96.5
28.2,-96.8

In [15]:
import functools

lats=HUR_df['latitude'].to_list()
lons=HUR_df['longitude'].to_list()
coords=list(zip(lats,lons))
coords

#location = geolocator.reverse(HUR_df['lat/long'],language=None, exactly_one=True, timeout=DEFAULT_SENTINEL)
#print(location.address)

#HUR_df["location"]=geolocator.reverse(HUR_df['lat/long'][0])

#location = geolocator.reverse(f'{coords[0],coords[1]}')
#print(location.address)

#location = geolocator.reverse(HUR_df[['latitude', 'longitude']])

[(28.1, -96.5), (28.2, -96.8)]

In [ ]:
# testing the geocoding tool:

key = "ba805f64fba7414196d33ceda40dd6c3"
geocoder = OpenCageGeocode(key)
address='1108 ROSS CLARK CIRCLE,DOTHAN,HOUSTON,AL'
result = geocoder.geocode(address, no_annotations="1")  
result[0]['geometry']

In [ ]:
#testing the reverse geocoding works:

result = geocoder.reverse_geocode(29,-99.4)  
result[0]['formatted']

In [ ]:
HUR_data.head(2)

In [ ]:
lats=HUR_data['latitude'].to_list()
lons=HUR_data['longitude'].to_list()
coords=list(zip(lats,lons))

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Google map")
location = geolocator.reverse()
location.raw['display_name']
print(location)

In [ ]:
#lats=data['Latitude'].to_list()
#lons=data['Longitude'].to_list()
#coords=list(zip(lats,lons))

def reverseGeocode(coords):
    result = rg.search(28,-94)
    
    pprint.pprint(result)
    result

In [ ]:

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="test_app")  # enter a name for your app
full_address=[]
for i in coords:
    location = geolocator.reverse("29,-99.4")
    address=location.raw['display_name']
    full_address.append(address)

In [ ]:
location = coords.reverse()
location.raw
# returns geopy Location object

In [ ]:
full_address=[]
for i in coords:
    location = geolocator.reverse(coords[i])
    address=location.raw['display_name']
    full_address.append(address)

In [ ]:
add=pd.DataFrame(data=full_address , columns=['Address'])
add