In [2]:
import pandas as pd

from opencage.geocoder import OpenCageGeocode
from geopy.geocoders import Nominatim

import reverse_geocoder as rg
import pprint

geolocator = Nominatim(user_agent="HUR")

In [3]:
#test the geolocator works
location = geolocator.reverse('25.966660,-80.246790')
print(location.address)

20956, Northwest 27th Avenue, Lake Lucerne, Miami Gardens, Miami-Dade County, Florida, 33056, United States

In [5]:
# read-in csv file Atlantic hurricane data
HUR_Andrew_data=pd.read_csv('andrew_EP.csv', sep=',')
HUR_Andrew_data.head(3)

HUR_Andrew_df = pd.DataFrame(HUR_Andrew_data)

In [58]:
#print the data
HUR_Andrew_df.head()

,index,id,name,date,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure
0,37937,AL041992,ANDREW,8/16/1992 18:00,NaN,TD,10.8,-35.5,25,1010
1,37938,AL041992,ANDREW,8/17/1992 0:00,NaN,TD,11.2,-37.4,30,1009
2,37939,AL041992,ANDREW,8/17/1992 6:00,NaN,TD,11.7,-39.6,30,1008
3,37940,AL041992,ANDREW,8/17/1992 12:00,NaN,TS,12.3,-42.0,35,1006
4,37941,AL041992,ANDREW,8/17/1992 18:00,NaN,TS,13.1,-44.2,35,1003

In [12]:


# convert just columns "a" and "b"
HUR_Andrew_df[['latitude', 'longitude']] = HUR_Andrew_df[['latitude', 'longitude']].apply(pd.to_numeric)

HUR_Andrew_df = HUR_Andrew_df.infer_objects()

HUR_Andrew_df.dtypes

HUR_Andrew_df['lat/long'] = HUR_Andrew_df['latitude'].astype(str) + "," + HUR_Andrew_df['longitude'].astype(str)

In [13]:
HUR_Andrew_df['lat/long'].head(3)

0    24.4,-64.2
1    24.8,-64.9
2    25.3,-65.9
Name: lat/long, dtype: object

In [11]:
#Subset_df = HUR_df.dropna(subset=['record_identifier'])
#Subset_df
HUR_Andrew_df.head()

,date,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,Max kPH (1.85),maximum_pressure,Velocity,damage ratio,lat/long
0,8/21/1992 12:00,NaN,TS,24.4,-64.2,50,92.50,1007,0.002809,2.216410e-08,"24.4,-64.2"
1,8/21/1992 18:00,NaN,TS,24.8,-64.9,50,92.50,1004,0.002809,2.216410e-08,"24.8,-64.9"
2,8/22/1992 0:00,NaN,TS,25.3,-65.9,55,101.75,1000,0.054775,1.643170e-04,"25.3,-65.9"
3,8/22/1992 6:00,NaN,HU,25.6,-67.0,65,120.25,994,0.158708,3.981646e-03,"25.6,-67.0"
4,8/22/1992 12:00,NaN,HU,25.8,-68.3,80,148.00,981,0.314607,3.019860e-02,"25.8,-68.3"

In [7]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

In [14]:
address = geolocator.reverse(HUR_Andrew_df['lat/long'])
print(address)

ValueError: Must be a coordinate pair or Point

In [34]:
address_list = []
address = ""
counter = 0
for row in Subset_df['lat/long']:
    address = geolocator.reverse(row)
    address_list.append(address)
    
    #if location = geolocator.reverse(HUR_df['lat/long']).apply(geolocator.reverse,timeout=1000000)

In [37]:
Subset_df['address'] = address_list

In [38]:
Subset_df.head(2)

,index,id,name,date,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,lat/long,address
29,37966,AL041992,ANDREW,8/23/1992 21:00,L,HU,25.4,-76.6,140,923,"25.4,-76.6","(Bermuda Triangle, (22.1200939, -69.4578541652..."
31,37968,AL041992,ANDREW,8/24/1992 1:00,L,HU,25.4,-77.8,130,931,"25.4,-77.8","(Berry Islands, The Bahamas, (25.3992426, -77...."

In [41]:
Subset_df.to_csv('HUR_Andrew_92_reverse_geo2.csv')

In [40]:
print(geolocator.reverse(HUR_df['lat/long'][5]))

None

In [17]:
import functools

lats=HUR_df['latitude'].to_list()
lons=HUR_df['longitude'].to_list()
coords=list(zip(lats,lons))

location = geolocator.reverse(HUR_df['lat/long'],language=None, exactly_one=True, timeout=DEFAULT_SENTINEL)
print(location.address)

#HUR_df["location"]=geolocator.reverse(HUR_df['lat/long'][0])

#location = geolocator.reverse(f'{coords[0],coords[1]}')
#print(location.address)

#location = geolocator.reverse(HUR_df[['latitude', 'longitude']])

NameError: name 'DEFAULT_SENTINEL' is not defined

In [ ]:
HUR_data.head(2)

In [ ]:
lats=HUR_data['latitude'].to_list()
lons=HUR_data['longitude'].to_list()
coords=list(zip(lats,lons))

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Google map")
location = geolocator.reverse()
location.raw['display_name']
print(location)

In [ ]:
#lats=data['Latitude'].to_list()
#lons=data['Longitude'].to_list()
#coords=list(zip(lats,lons))

def reverseGeocode(coords):
    result = rg.search(28,-94)
    
    pprint.pprint(result)
    result

In [ ]:

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="test_app")  # enter a name for your app
full_address=[]
for i in coords:
    location = geolocator.reverse("29,-99.4")
    address=location.raw['display_name']
    full_address.append(address)

In [ ]:
location = coords.reverse()
location.raw
# returns geopy Location object

In [ ]:
full_address=[]
for i in coords:
    location = geolocator.reverse(coords[i])
    address=location.raw['display_name']
    full_address.append(address)

In [ ]:
add=pd.DataFrame(data=full_address , columns=['Address'])
add