In [2]:
import pandas as pd

from geopy.geocoders import Nominatim

import reverse_geocoder as rg
import pprint

geolocator = Nominatim(user_agent="HUR")

df = pd.DataFrame({'name': ['paris', 'berlin', 'london']})


from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
df['location'] = df['name'].apply(geocode)

df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [3]:
df.head()

,name,location,point
0,paris,"(Paris, Île-de-France, France métropolitaine, ...","(48.8566969, 2.3514616, 0.0)"
1,berlin,"(Berlin, 10117, Deutschland, (52.5170365, 13.3...","(52.5170365, 13.3888599, 0.0)"
2,london,"(London, City of Westminster, England, SW1A 2D...","(51.5073219, -0.1276474, 0.0)"